:root {
    --Red: hsl(1, 90%, 64%);
--Blue: hsl(219, 85%, 26%);
 --Very-light-grayish-blue: hsl(210, 60%, 98%);
 --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
   --Grayish-blue: hsl(219, 14%, 63%);
   --Dark-grayish-blue:  hsl(219, 12%, 42%);
--Very-dark-blue: hsl(224, 21%, 14%);

font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    line-height: 1em;
box-sizing: border-box;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.6rem;
}

main{
    padding: 2.4rem 1.6rem;
    max-width: 73rem;
    margin: 0 auto;
}

a{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: var(--Blue);
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;
}

.title h1{
    display: inline-flex;
gap: 1rem;
font-weight: 800;
font-size: 2rem;
color: var(--Very-dark-blue);
}

.title h1 .badge {
    background: var(--Blue);
    color: white;
    font-size: 1.6rem;
    height: 2.5rem;
    width: 3.2rem;
    border-radius: 0.6rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
} 

.title a{
font-weight: 400;
font-size: 1.5rem;
letter-spacing: -0.02em;
color: var(--Dark-grayish-blue);
} 

.title a:hover{
    color: var(--Blue);
}

.notif{}

.notif img{}

.new{}

.name{}

.info{}

.post{}

.circle-red{}